<template>
    <article class="media">
        <figure class="media-left">
            <router-link
                v-if="comment.author.avatar"
                class="image is-48x48 is-square"
                :to="{ name: 'user-page', params: { id: comment.author.id } }"
            >
                <img class="is-rounded fit" :src="comment.author.avatar">
            </router-link>

            <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                <DefaultAvatar class="image is-48x48" :user="comment.author" />
            </router-link>
        </figure>
        <div class="media-content">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <div>
                            <strong>
                                {{ comment.author.firstName }} {{ comment.author.lastName }}
                            </strong>
                            <figure v-if="comment.imageUrl" class="image is-3by1 tweet-image">
                                <img
                                    :src="comment.imageUrl"
                                    alt="Comment image"
                                    @click="showImageModal"
                                >
                            </figure>
                            <br>
                            {{ comment.body }}
                            <br>
                            <small class="has-text-grey">
                                {{ comment.created | createdDate }}
                            </small>
                        </div>
                    </div>
                    <b-tooltip label="Like" animated>
                        <a class="level-item" @click="onLikeOrDislikeComment">
                            <span
                                class="icon is-medium has-text-info"
                                :class="{
                                    'has-text-danger': commentIsLikedByUser(comment.id, comment.author.id)
                                }"
                            >
                                <font-awesome-icon icon="heart" />
                            </span>
                            {{ comment.likesCount }}
                        </a>
                    </b-tooltip>
                </div>


                <div v-if="comment.authorId === user.id" class="column is-narrow is-12-mobile">
                    <span class="icon is-medium has-text-info" @click="onEditComment">
                        <font-awesome-icon icon="pencil-alt" />
                    </span>
                    <span class="icon is-medium has-text-danger" @click="onDeleteComment">
                        <font-awesome-icon icon="trash" />
                    </span>
                </div>

                <b-modal :active.sync="isImageModalActive">
                    <p class="image is-4by3">
                        <img class="fit" :src="comment.imageUrl">
                    </p>
                </b-modal>
                <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
                    <EditCommentForm :comment="comment" />
                </b-modal>
            </div>
        </div>
    </article>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import EditCommentForm from './EditCommentForm.vue';
import showStatusToast from '../../mixin/showStatusToast';

export default {
    name: 'Comment',

    components: {
        DefaultAvatar,
        EditCommentForm
    },
    mixins: [showStatusToast],

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),
        ...mapGetters('comment', [
            'commentIsLikedByUser'
        ]),
    },
    data: () => ({
        isEditCommentModalActive: false,
        isImageModalActive: false
    }),

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },
    methods: {
        ...mapActions('tweet', [
            'fetchTweetById',
        ]),
        ...mapActions('comment', [
            'deleteComment',
            'fetchComments',
            'likeOrDislikeComment'
        ]),
        onEditComment() {
            this.isEditCommentModalActive = true;
        },
        onDeleteComment() {
            this.$dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);
                        this.showSuccessMessage('Cmment deleted!');
                        await this.fetchTweetById(this.$route.params.id);
                        this.fetchComments(this.$route.params.id);
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },


        showImageModal() {
            this.isImageModalActive = true;
        },

        async onLikeOrDislikeComment() {
            try {
                await this.likeOrDislikeComment({
                    id: this.comment.id,
                    userId: this.comment.authorId
                });
            } catch (error) {
                console.error(error.message);
            }
        }
    },
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}
</style>
